---
layout: default
title: Devices
description: Overview of which features works and which doesn't
---


<div id="page-wrapper">


        <!-- Banner -->
                <section id="banner">
                        <div class="content">
                        <h2>{{ page.title }}</h2>
                        <p>{{ page.description }}</p>
                        </div>
                </section>

        <!-- Main -->
                <section id="blog" class="container" >
            <div class="row" style="display: flex; flex-wrap: wrap;">



<!--  assign sections_sorted = site.data.sections | sort: 'order'  -->
<table>
{% for device in site.devices %}

        {% if device == site.devices[0] %}
        <tr>
            <th> Device </th>
            <th> Device Released </th>
            <th> Linux Kernel </th>
            {% for cat in device.portStatus %}<th>{{ cat.categoryName }}</th>
            {% endfor %}
            </tr>
        {% endif %}

        <tr>
        <td><a href="{{ device.url | relative_url }}" >{{ device.name }}</a></td>
        <td>{{ device.deviceReleased }}</td>
        <td>{{ device.linuxKernel }}</td>
        {% if device.portStatus.size > 0 %}
                {% for cat in device.portStatus %}
                    {% assign working = 0 %} {% assign notworking = 0 %}
                    {% for feature in cat.features %}
                        {% if feature.value == "Y" %}
                            {% assign working = working | plus: 1 %}
                        {% else %}
                            {% assign notworking = notworking | plus: 1 %}
                        {% endif %}

                {% endfor %}
                <td style="{% if notworking == 0%}color: #00ff00;{%elsif working == 0%}color: #ff0000{%else%}color: #f57900{%endif%}"  > {{ working }} / {{ working | plus: notworking }} </td>
                {% endfor %}
        {% endif %}
        </tr>
{% endfor %}
</table>

<div style="clear:both; "><a href="{{ '/devices' | relative_url }}" class="button alt">List</a><br/><br/></div>


            </div>
        </section>
