---
layout: default
title: NemoMobile
description: Bringing freedom to mobile
---

<div id="page-wrapper">

	<!-- Banner -->
		<section id="banner">
			<div class="content">
			<h2>{{ page.title }}</h2>
			<p>{{ page.description }}</p>
			</div>
		</section>

	<!-- Main -->
		<section id="main" class="container">
			<section class="box special">
				<h2>Mission</h2>
				<!-- span class="image featured"><img src="images/nexus5_wide_nemo.png" alt="" /></span -->
				<!-- img src="images/nexus5_nemo-1000.png" alt="" style="float: right; " class="6u 12u(narrower)"/ -->
				<section style="float: right; " class="6u 12u(narrower)">
				<img src="images/app-launcher-325-crop.png" alt="" />
				</section>
				<ul style="text-align: left;">
					<li><b>FOSS</b> - Free Open Source Software. Anyone can see, use, and contribute to the codebase. </li>
					<li><b>Built with mobile in mind</b> - NemoMobile utilizes well developed and fully open source Mer-core. It has been optimized for mobile devices and is based on multi-platform toolkit Qt.</li>
					<li><b>Easy to use UX</b> - Glacier UX as the default the use of NemoMobile is fluid and natural. It is very easy to build new user experiences.</li>
					<li><b>Secure</b> - Security is a default with true Linux devices. You control everything just like with your Linux desktop.</li>
				</ul>
				<div style="clear:both">&nbsp;</div>
			</section>



			<section class="box special features">
				<div class="features-row">
					<section>
						<a href="{{ '/installation' | relative_url }}">
						<span class="icon major fa-mobile accent1"></span>
						<h3>Devices</h3>
						</a>
						<p>Read installation instructions and try it on your own</p>
					</section>
					<section>
						<a href="{{ '/sdk' | relative_url }}">
						<span class="icon major fa-code accent2"></span>
						<h3>Development</h3>
						</a>
						<p>Install SDK into virtual machine, explore APIs, rebuild packages and create your own images</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<a href="{{ '/troubleshooting' | relative_url }}">
						<span class="icon major fa-thumbs-up accent3"></span>
						<h3>Troubleshooting</h3>
						</a>
						<p>Join our Telegram group, Matrix Group and check out our GitHub repos. We will be happy to answer any questions.</p>
					</section>
					<section>
						<a href="{{ '/contributing' | relative_url }}">
						<span class="icon major fa-puzzle-piece accent4"></span>
						<h3>Community</h3>
						</a>
						<p>Bring your ideas to life</p>
					</section>
				</div>
			</section>


			<div class="row" style="display: flex; flex-wrap: wrap;">
				<!-- Blog posts -->
				 {% for post in site.posts limit: 4 %}
					<div class="6u 12u(narrower)">

					       <section class="box special">

						       <span class="image featured post-teaser">
						       {% if post.image.teaser %}
                      <img src="{{ '/images/' | append: post.image.teaser | relative_url }}" alt="teaser" itemprop="image" />
                   {% else %}
                      <img src="{{ '/images/' | append: site.teaser | relative_url }}" alt="teaser" itemprop="image" />{% endif %}
						       </span>
						       <h3>{{ post.title }}</h3>
						       <p>{{ post.description }}</p>
						       <ul class="actions">
							       <li><a href="{{ post.url | relative_url }}" class="button alt">Learn More</a></li>
						       </ul>
					       </section>
       
				       </div>
				 {% endfor %}
			</div>

		</section>
</div>
