<head>
    <title> {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {%endif%} </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{' /assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
    <!--[if lte IE 8]><link rel="/stylesheet" href=""{{ '/assets/css/ie8.css' | relative_url }}" /><![endif]-->
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url   }}/feed.xml">
    {% include open-graph.html %}
</head>
