<ul>
	<li><a href="/">Home</a></li>
	<li class="dropdown">
	<a href="#" class="icon fa-angle-down">Menu</a>
	<ul class="dropdown-content">
    {% for link in site.data.navigation %}
      {% if link.url contains 'http' %}
          {% assign domain = '' %}
      {% else %}
          {% assign domain = site.url %}
      {% endif %}
      <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}
  </ul>
    </li>
</ul>
