---
layout: default
---
<div id="page-wrapper">
<!-- Main -->
<section id="main" class="container">
	<div class="post">
		<div class="cover cover_{{ page.layout }}">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ '/images/' | append: page.image.feature | relative_url }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		</div> <!-- cover -->
		<p class="date">{{ page.date | date: "%B %e, %Y" }}</p>
		<h1>{{ page.title }}</h1>
		{{ content }}
		<footer class="page-footer">
			{% if page.categories %}{% include page-author.html %}{% endif %}
			{% if page.share != false %}{% include share-this.html %}{% endif %}
			{% include page-meta.html %}
		</footer>
	</div> <!-- /.post -->
</section>
</div> <!-- /.page-wrapper -->
